@font-face {
  font-family: gotu;
  src: url("../Gotu-Regular.ttf")
}
@font-face {
  font-family: balu;
  src: url("../BalooPaaji2-SemiBold.ttf")
}

a{
  font-family: balu;
  color: floralwhite;
}
a:hover{
  color: cyan;
}
header{
  background-image: url("../imgs/bg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 2rem;
}
header h1{
  text-align: center;
  font-family: gotu;
  color: #071030;
  font-size: 10rem ;
  height: 50rem;
  text-shadow: 1rem 1rem 1rem #a8f0e4;
}
header .container{
  width: 50%;
}
