@font-face {
  font-family: gotu;
  src: url("../Gotu-Regular.ttf")
}
@font-face {
  font-family: balu;
  src: url("../BalooPaaji2-SemiBold.ttf")
}
a{
  font-family: balu;
  color: floralwhite;
}
a:hover{
  color: cyan;
}
header{
  background-image: url("../imgs/bg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 2rem;
}
#heading{
  justify-content: center;
  align-items: center;
  padding: 9rem;
  display: flex;
  height: auto;
}
header h1{
  text-align: center;
  font-family: gotu;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #071030;
  font-size: 10rem ;
  text-shadow: 1rem 1rem 1rem #a8f0e4;
}
#about{
  background-image: linear-gradient(to bottom, black, rgb(87, 78, 78));
  padding-bottom: 5rem;
}
#contact{
  font-family: gotu;
  border: cyan solid 2px;
}

@media (min-width: 300px){
  header h1{
    font-size: 3rem;
  }
}
@media (min-width: 600px){
  header h1{
    font-size: 6rem;
  }
}
@media (min-width: 900px){
  header h1{
    font-size: 10rem;
  }
}
li{
  font-family: gotu;
}
img{
  width: 30%;
}
